$colors: (
  primary: #fff,
);

$phone: 375px;
$tablet: 768px;
$laptop: 1280px;
$desktop: 2800px;
 
@function color($color-name) {
  @return map-get($colors, $color-name);
}

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}
@mixin laptop {
  @media (min-width: #{$laptop}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin phone {
  @media (min-width: #{$phone}) {
    @content;
  }
}
