@import "_variables.scss";
@import "_usergallery.scss";

html {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}

.Header-header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;

  background-image: url(https://static1.squarespace.com/static/563cc987e4b05a2939898c49/t/59c6f3f4b1ffb6eac169bd73/1506210829068/ihealth-AI.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Header-Text {
  transition: all 0.3s;

  font-family: Voltaire;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 90px;
  text-align: center;
  color: #f1ee1a;
  width: 300rem;

  @include desktop{
    font-size: 15rem;
  }
}

.Header-Text:hover {
  transform: scale(1.2);
  filter: hue-rotate(320deg);
}

.Florida-gif {
  height: 20rem;
  @include desktop{
    height: 40rem;
  }
}

.Weather {
  height: 100vh;
  background-image: url(https://cdn.pixabay.com/photo/2015/08/11/14/23/miami-884626__480.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Weather-title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;

  font-family: Voltaire;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 70px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;

  @include phone {
    font-size: 5rem;
    height: 25rem;
  }
  @include desktop{
    height: 70rem;
    font-size: 15rem;
  }
}

.Weather-text {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Voltaire;
  text-decoration: solid;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  text-emphasis-color: rgb(33, 201, 243);

  @include phone {
    font-size: 2.5rem;
    height: 15rem;
  }
  @include tablet {
    font-size: 4rem;
  }
  @include desktop{
    line-height: 10rem;
    font-size: 10rem;
  }
}

.Weather-gallery {
  transition: all 3s;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 90rem;
  @include phone{
    height: 30rem;
  }
  @include desktop{
    height: 80rem;
  }
}

.Weather-hover {
  @include phone {
    height: 16rem;
  }
  @include tablet {
    height: 20rem;
  }
  @include desktop{
    height: 50rem;
  }
}

.Weather-gallery:hover {
  transform:scale(2);
}

.Cities {
  height: 100vh;
  background-image: url(https://cdn.pixabay.com/photo/2016/03/05/19/24/miami-1238397__480.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.Cities-title {
  display: flex;
  justify-content: center;

  font-family: Voltaire;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 90px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;

  @include desktop{
    font-size: 17rem;
  }
}

.Cities-gallery {
  display: flex;
  justify-content: space-around;
  align-items: center;

  @include phone {
    flex-direction: column;
  }
  @include desktop{
    flex-direction: row;
  }
}

.Miami {
  transition: all 0.3s;
  height: 40rem;
  border-radius: 30rem;

  @include phone {
    height: 20rem;
  }
  @include tablet {
    height: 30rem;
  }
  @include desktop{
    height: 70rem;
  }
}

.Tampa {
  transition: all 0.3s;
  height: 40rem;
  border-radius: 30rem;

  @include phone {
    height: 20rem;
  }
  @include tablet {
    height: 30rem;
  }
  @include desktop{
    height: 70rem;
  }
}

.Miami:hover {
  transform: scale(1.3);
}

.Tampa:hover {
  transform: scale(1.3);
}

.Review {
  height: 100vh;
  background-image: url(https://cdn.pixabay.com/photo/2016/09/30/15/02/foggy-1705535__480.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Review-Header {
  display: flex;
  justify-content: center;

  font-family: Voltaire;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 70px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;

  @include phone {
    font-size: 3rem;
    height: 16rem;
  }
  @include tablet{
    font-size: 6rem;
    height: 20rem;
  }
  @include desktop{
    font-size: 12rem;
    height: 30rem;
  }
}

.Review-text {
  display: flex;
  justify-content: center;

  font-family: Voltaire;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 37px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;

  @include phone {
    font-size: 3rem;
  }
  @include desktop{
    font-size: 7rem;
  }
}

.Review-gallery {
  height: 50rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @include phone {
    flex-direction: column;
  }
  @include desktop{
    height: 100rem;
    flex-direction: row;
  }
}

.R-1 {
  height: 30rem;
  border-radius: 12rem;

  @include phone {
    height: 15rem;
  }
  @include tablet{
    height: 18rem;
  }
  @include desktop{
    height: 50rem;
  }
}

.R-2 {
  height: 30rem;
  border-radius: 12rem;

  @include phone {
    height: 15rem;
  }
  @include tablet{
    height: 18rem;
  }
  @include desktop{
    height: 50rem;
  }
}

.R-3 {
  height: 30rem;
  border-radius: 12rem;

  @include phone {
    height: 15rem;
  }
  @include tablet{
    height: 18rem;
  }
  @include desktop{
    height: 50rem;
  }
}

.Visit {
  height: 100vh;
  background-image: url(https://cdn.pixabay.com/photo/2020/01/13/16/41/brickell-4762957__480.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Visit-header {
  display: flex;
  justify-content: center;

  font-family: Voltaire;
  font-style: normal;
  font-weight: normal;
  font-size: 120px;
  line-height: 179px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;

  @include phone {
    font-size: 5rem;
    height: 16rem;
  }
  @include tablet{
    font-size: 8rem;
  }
  @include desktop{
    font-size: 20rem;
    height: 70rem;
  }
}

.Visit-row1 {
  display: flex;
  justify-content: space-around;

  font-family: Voltaire;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 60px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;

  @include phone {
    display: flex;
    flex-direction: column;
  }
  @include desktop{
    flex-direction: row;
  }
}

.Visit-row2 {
  display: flex;
  justify-content: center;;

  font-family: Voltaire;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 60px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.button1 {
  border: 0;
  line-height: 6;
  padding: 0 50px;
  font-size: 2rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 70rem;
  background-color: #f06a10;
  text-decoration: none;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  align-items: center;
  text-align: center;
  transition: all 0.5s;
    @include tablet{
      height: 20rem;
      font-size: 3rem;
    }
    @include desktop{
      height: 30rem;
      width: 30rem;
      font-size: 5rem;
    }
}

.button2 {
  border: 0;
  line-height: 6;
  padding: 0 50px;
  font-size: 2rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 70rem;
  background-color: #f06a10;
  text-decoration: none;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  transition: all 0.5s;
    @include tablet{
      height: 20rem;
      font-size: 3rem;
    }
    @include desktop{
      height: 30rem;
      width: 30rem;
      font-size: 5rem;
    }
}

.button3 {
  display: flex;
  justify-content: center;
  border: 0;
  line-height: 6;
  padding: 0 50px;
  font-size: 2rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 70rem;
  background-color: #f06a10;
  text-decoration: none;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  transition: all 0.5s;
    @include tablet{
      height: 20rem;
      font-size: 3rem;
    }
    @include desktop{
      height: 30rem;
      width: 30rem;
      font-size: 5rem;
    }
}

.button1:hover {
  transform: scale(1.3);
}

.button2:hover {
  transform: scale(1.3);
}

.button3:hover {
  transform: scale(1.3);
}
