html {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}

.Header-header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;

  background-image: url(https://cdn.pixabay.com/photo/2017/03/05/00/34/panorama-2117310__480.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Header-Text {
  transition: all 0.3s;

  font-family: Voltaire;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 90px;
  text-align: center;
  color: #f1ee1a;
  width: 50rem;
}

.Header-Text:hover {
  transform: scale(1.2);
  filter: hue-rotate(320deg);
}

.Weather {
  height: 100vh;
  background-image: url(https://cdn.pixabay.com/photo/2015/08/11/14/23/miami-884626__480.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Weather-title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;

  font-family: Voltaire;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 90px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.Weather-text {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  font-family: Voltaire;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 60px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  text-emphasis-color: rgb(33, 201, 243);
}
